<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="utf-8">
	<title>StackOverflow-Lite</title>
	<script type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<!-- Branding area -->
	<header>
		<div class="containernav">
			<h1>StackOverflow-Lite</h1>
		</div>
		<!-- Nav Bar -->
		<nav>
			<div>
				<a href="index.html">Home</a>
				<a href="login.html">Sign In</a>
			</div>
			<div>
			<form>
				<input type="text" placeholder="Search" name="Search">
				<button type="submit"></button>
			</form>
		    </div>
		    <a href="register.html">Sign Up</a>
		</nav>
	</header>
	<!-- Login area-->
	<form>
		<fieldset>
			<legend>Sign Up</legend>
			<div class="container">
				<p><strong>Join Today</strong></p>
				
				<label><b>Email:</b></label><br/>
				<input type="text" placeholder="Email" name="Email"><br/>
				<label><b>Password:</b></label><br/>
				<input type="text" placeholder="Password" name="Password"><br>
				<label><b>Confirm Password:</b></label><br/>
				<input type="text" placeholder="Password" name="Password"><br>
				<p>I have read the terms and conditions<a href="terms.html">Terms & conditions</a></p>
				<button type="submit" onclick="alert('Registration succesful')" class="submitbtn">Submit</button>
				<div><p>Already have an account?<a href="login.html">Log in</a></p></div>
			</div>
		</fieldset>
	</form>
	<!-- Footer area -->
	<footer><small>Alpha-Andela-Cohort-33 Design Copyright &copy;2018</small>
	</footer>

</body>
</html>